@namespace SummitUI
@typeparam TValue where TValue : notnull

<CascadingValue Value="_groupContext" IsFixed="true">
    <div role="group"
         aria-labelledby="@LabelId"
         data-summit-select-group=""
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
