@namespace ArkUI.Components.DropdownMenu

<div
    role="menuitem"
    tabindex="-1"
    aria-disabled="@(Disabled ? "true" : null)"
    data-ark-dropdown-menu-item=""
    data-disabled="@(Disabled ? "" : null)"
    @onclick="HandleClickAsync"
    @attributes="AdditionalAttributes">
    @ChildContent
</div>
