@namespace ArkUI.Components.DropdownMenu

<div
    role="group"
    aria-labelledby="@_labelId"
    aria-label="@AriaLabel"
    data-ark-dropdown-menu-group=""
    @attributes="AdditionalAttributes">
    <CascadingValue Value="_labelId" Name="GroupLabelId">
        @ChildContent
    </CascadingValue>
</div>

@code {
    private readonly string _labelId = $"ark-dropdown-menu-group-{Guid.NewGuid():N}";
}
