@namespace ArkUI.Components.Checkbox

<CascadingValue Value="_context" IsFixed="false">
    <div role="group"
         id="@_context.GroupId"
         aria-labelledby="@(_labelId)"
         aria-disabled="@(Disabled ? "true" : null)"
         data-ark-checkbox-group=""
         data-disabled="@(Disabled ? "" : null)"
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
