@namespace ArkUI.Components.Select

@if (Context.IsOpen)
{
    <div @ref="_containerRef"
         id="@ActualContainerId"
         data-ark-select-portal
         style="position: fixed; top: 0; left: 0; z-index: 9999; pointer-events: none;">
        <div style="pointer-events: auto;">
            @ChildContent
        </div>
    </div>
}
