@namespace SummitUI

<button aria-label="@EffectiveAriaLabel"
        data-summit-popover-close="true"
        @onclick="HandleClickAsync"
        @attributes="AdditionalAttributes">
    @ChildContent
</button>
