@page "/tests/dropdown-menu/submenu"
@rendermode InteractiveWebAssembly

@if (!RendererInfo.IsInteractive)
{
    <div data-testid="page-loading">Loading...</div>
}
else
{
<div data-testid="page-ready">
    <h1>Dropdown Menu Submenu Tests</h1>
    
    <div class="test-section">
        <h2>Basic Submenu</h2>
        <p>Tests: hover to open, ArrowRight to open, ArrowLeft to close, Escape closes submenu only</p>
        <SmDropdownMenuRoot>
            <SmDropdownMenuTrigger class="menu-trigger" data-testid="basic-submenu-trigger">
                Open Menu
            </SmDropdownMenuTrigger>
            <SmDropdownMenuPortal>
                <SmDropdownMenuContent class="menu-content" data-testid="basic-submenu-content">
                    <SmDropdownMenuItem TextValue="Item 1" class="menu-item" data-testid="item-1">Item 1</SmDropdownMenuItem>
                    <SmDropdownMenuItem TextValue="Item 2" class="menu-item" data-testid="item-2">Item 2</SmDropdownMenuItem>
                    <SmDropdownMenuSeparator class="menu-separator" />
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="More Options" class="menu-item submenu-trigger" data-testid="submenu-trigger-1">
                            More Options
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="submenu-content-1">
                                <SmDropdownMenuItem TextValue="Sub Item 1" class="menu-item" data-testid="sub-item-1">Sub Item 1</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Sub Item 2" class="menu-item" data-testid="sub-item-2">Sub Item 2</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Sub Item 3" class="menu-item" data-testid="sub-item-3">Sub Item 3</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                    <SmDropdownMenuItem TextValue="Item 3" class="menu-item" data-testid="item-3">Item 3</SmDropdownMenuItem>
                </SmDropdownMenuContent>
            </SmDropdownMenuPortal>
        </SmDropdownMenuRoot>
    </div>

    <div class="test-section">
        <h2>Multiple Submenus (Siblings)</h2>
        <p>Tests: opening one submenu closes sibling submenu</p>
        <SmDropdownMenuRoot>
            <SmDropdownMenuTrigger class="menu-trigger" data-testid="multi-submenu-trigger">
                Multi Submenu
            </SmDropdownMenuTrigger>
            <SmDropdownMenuPortal>
                <SmDropdownMenuContent class="menu-content" data-testid="multi-submenu-content">
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="Edit" class="menu-item submenu-trigger" data-testid="edit-submenu-trigger">
                            Edit
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="edit-submenu-content">
                                <SmDropdownMenuItem TextValue="Undo" class="menu-item" data-testid="edit-undo">Undo</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Redo" class="menu-item" data-testid="edit-redo">Redo</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Cut" class="menu-item" data-testid="edit-cut">Cut</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Copy" class="menu-item" data-testid="edit-copy">Copy</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="View" class="menu-item submenu-trigger" data-testid="view-submenu-trigger">
                            View
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="view-submenu-content">
                                <SmDropdownMenuItem TextValue="Zoom In" class="menu-item" data-testid="view-zoom-in">Zoom In</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Zoom Out" class="menu-item" data-testid="view-zoom-out">Zoom Out</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Full Screen" class="menu-item" data-testid="view-fullscreen">Full Screen</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="Help" class="menu-item submenu-trigger" data-testid="help-submenu-trigger">
                            Help
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="help-submenu-content">
                                <SmDropdownMenuItem TextValue="Documentation" class="menu-item" data-testid="help-docs">Documentation</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="About" class="menu-item" data-testid="help-about">About</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                </SmDropdownMenuContent>
            </SmDropdownMenuPortal>
        </SmDropdownMenuRoot>
    </div>

    <div class="test-section">
        <h2>Nested Submenus (3 Levels)</h2>
        <p>Tests: infinite nesting, ArrowRight/Left navigation through nested menus</p>
        <SmDropdownMenuRoot>
            <SmDropdownMenuTrigger class="menu-trigger" data-testid="nested-submenu-trigger">
                Nested Menus
            </SmDropdownMenuTrigger>
            <SmDropdownMenuPortal>
                <SmDropdownMenuContent class="menu-content" data-testid="nested-submenu-content">
                    <SmDropdownMenuItem TextValue="Top Level" class="menu-item" data-testid="nested-top-item">Top Level Item</SmDropdownMenuItem>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="Level 1" class="menu-item submenu-trigger" data-testid="level-1-trigger">
                            Level 1
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="level-1-content">
                                <SmDropdownMenuItem TextValue="Level 1 Item" class="menu-item" data-testid="level-1-item">Level 1 Item</SmDropdownMenuItem>
                                <SmDropdownMenuSub>
                                    <SmDropdownMenuSubTrigger TextValue="Level 2" class="menu-item submenu-trigger" data-testid="level-2-trigger">
                                        Level 2
                                        <span class="arrow">&#8250;</span>
                                    </SmDropdownMenuSubTrigger>
                                    <SmDropdownMenuPortal>
                                        <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="level-2-content">
                                            <SmDropdownMenuItem TextValue="Level 2 Item A" class="menu-item" data-testid="level-2-item-a">Level 2 Item A</SmDropdownMenuItem>
                                            <SmDropdownMenuSub>
                                                <SmDropdownMenuSubTrigger TextValue="Level 3" class="menu-item submenu-trigger" data-testid="level-3-trigger">
                                                    Level 3
                                                    <span class="arrow">&#8250;</span>
                                                </SmDropdownMenuSubTrigger>
                                                <SmDropdownMenuPortal>
                                                    <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="level-3-content">
                                                        <SmDropdownMenuItem TextValue="Deep Item 1" class="menu-item" data-testid="level-3-item-1">Deep Item 1</SmDropdownMenuItem>
                                                        <SmDropdownMenuItem TextValue="Deep Item 2" class="menu-item" data-testid="level-3-item-2">Deep Item 2</SmDropdownMenuItem>
                                                    </SmDropdownMenuSubContent>
                                                </SmDropdownMenuPortal>
                                            </SmDropdownMenuSub>
                                            <SmDropdownMenuItem TextValue="Level 2 Item B" class="menu-item" data-testid="level-2-item-b">Level 2 Item B</SmDropdownMenuItem>
                                        </SmDropdownMenuSubContent>
                                    </SmDropdownMenuPortal>
                                </SmDropdownMenuSub>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                </SmDropdownMenuContent>
            </SmDropdownMenuPortal>
        </SmDropdownMenuRoot>
    </div>

    <div class="test-section">
        <h2>Submenu with Disabled Trigger</h2>
        <p>Tests: disabled submenu trigger doesn't open</p>
        <SmDropdownMenuRoot>
            <SmDropdownMenuTrigger class="menu-trigger" data-testid="disabled-submenu-trigger">
                With Disabled Submenu
            </SmDropdownMenuTrigger>
            <SmDropdownMenuPortal>
                <SmDropdownMenuContent class="menu-content" data-testid="disabled-submenu-content">
                    <SmDropdownMenuItem TextValue="Active Item" class="menu-item" data-testid="active-item">Active Item</SmDropdownMenuItem>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="Disabled Submenu" class="menu-item submenu-trigger" Disabled="true" data-testid="disabled-sub-trigger">
                            Disabled Submenu
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="disabled-sub-content">
                                <SmDropdownMenuItem TextValue="Should Not Appear" class="menu-item">Should Not Appear</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="Enabled Submenu" class="menu-item submenu-trigger" data-testid="enabled-sub-trigger">
                            Enabled Submenu
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="enabled-sub-content">
                                <SmDropdownMenuItem TextValue="Submenu Item" class="menu-item" data-testid="enabled-sub-item">Submenu Item</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                </SmDropdownMenuContent>
            </SmDropdownMenuPortal>
        </SmDropdownMenuRoot>
    </div>

    <div class="test-section">
        <h2>RTL Support</h2>
        <p>Tests: ArrowLeft opens, ArrowRight closes in RTL mode</p>
        <SmDropdownMenuRoot Dir="rtl">
            <SmDropdownMenuTrigger class="menu-trigger" data-testid="rtl-submenu-trigger">
                RTL Menu
            </SmDropdownMenuTrigger>
            <SmDropdownMenuPortal>
                <SmDropdownMenuContent class="menu-content" data-testid="rtl-submenu-content">
                    <SmDropdownMenuItem TextValue="Item 1" class="menu-item" data-testid="rtl-item-1">Item 1</SmDropdownMenuItem>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="More" class="menu-item submenu-trigger" data-testid="rtl-sub-trigger">
                            <span class="arrow rtl-arrow">&#8249;</span>
                            More
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="rtl-sub-content">
                                <SmDropdownMenuItem TextValue="RTL Sub Item 1" class="menu-item" data-testid="rtl-sub-item-1">RTL Sub Item 1</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="RTL Sub Item 2" class="menu-item" data-testid="rtl-sub-item-2">RTL Sub Item 2</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                </SmDropdownMenuContent>
            </SmDropdownMenuPortal>
        </SmDropdownMenuRoot>
    </div>

    <div class="test-section">
        <h2>Selection Event</h2>
        <p>Tests: clicking submenu item closes menu tree and fires OnSelect</p>
        <p>Last Selected: <span data-testid="selection-output">@_lastSelected</span></p>
        <SmDropdownMenuRoot>
            <SmDropdownMenuTrigger class="menu-trigger" data-testid="selection-submenu-trigger">
                Test Selection
            </SmDropdownMenuTrigger>
            <SmDropdownMenuPortal>
                <SmDropdownMenuContent class="menu-content" data-testid="selection-submenu-content">
                    <SmDropdownMenuItem TextValue="Main Item" class="menu-item" OnSelect="@(() => _lastSelected = "Main Item")" data-testid="selection-main-item">Main Item</SmDropdownMenuItem>
                    <SmDropdownMenuSub>
                        <SmDropdownMenuSubTrigger TextValue="More" class="menu-item submenu-trigger" data-testid="selection-sub-trigger">
                            More
                            <span class="arrow">&#8250;</span>
                        </SmDropdownMenuSubTrigger>
                        <SmDropdownMenuPortal>
                            <SmDropdownMenuSubContent class="menu-content submenu-content" data-testid="selection-sub-content">
                                <SmDropdownMenuItem TextValue="Sub Option A" class="menu-item" OnSelect="@(() => _lastSelected = "Sub Option A")" data-testid="selection-sub-a">Sub Option A</SmDropdownMenuItem>
                                <SmDropdownMenuItem TextValue="Sub Option B" class="menu-item" OnSelect="@(() => _lastSelected = "Sub Option B")" data-testid="selection-sub-b">Sub Option B</SmDropdownMenuItem>
                            </SmDropdownMenuSubContent>
                        </SmDropdownMenuPortal>
                    </SmDropdownMenuSub>
                </SmDropdownMenuContent>
            </SmDropdownMenuPortal>
        </SmDropdownMenuRoot>
    </div>
</div>
}

<style>
    .menu-trigger {
        padding: 8px 16px;
        border: 1px solid #ccc;
        background: #f0f0f0;
        cursor: pointer;
        border-radius: 4px;
    }
    
    .menu-trigger:hover {
        background: #e0e0e0;
    }
    
    .menu-content {
        padding: 4px;
        border: 1px solid #ccc;
        background: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 4px;
        min-width: 180px;
        display: flex;
        flex-direction: column;
    }

    .submenu-content {
        min-width: 160px;
    }

    .menu-item {
        padding: 8px 12px;
        cursor: pointer;
        outline: none;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-item:focus,
    .menu-item[data-highlighted] {
        background: #0078d4;
        color: white;
    }

    .menu-item[data-disabled] {
        color: #999;
        cursor: not-allowed;
    }

    .menu-item[data-disabled]:focus,
    .menu-item[data-disabled][data-highlighted] {
        background: transparent;
        color: #999;
    }

    .submenu-trigger[data-state="open"] {
        background: #0078d4;
        color: white;
    }

    .arrow {
        margin-left: 8px;
        font-size: 12px;
    }

    .rtl-arrow {
        margin-left: 0;
        margin-right: 8px;
    }

    .menu-separator {
        height: 1px;
        background: #eee;
        margin: 4px 0;
    }
    
    .test-section {
        margin-bottom: 2rem;
        padding: 1rem;
        border: 1px solid #eee;
        border-radius: 4px;
    }

    .test-section h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .test-section p {
        margin: 0.25rem 0 1rem;
        color: #666;
        font-size: 0.9rem;
    }
</style>

@code {
    private string _lastSelected = "(none)";
}
