@namespace SummitUI
@inject ISummitUILocalizer Localizer

@* The calendar grid table. Implements role="grid" for accessibility. *@

<table id="@Context.GridId"
       role="application"
       aria-roledescription="calendar grid"
       aria-labelledby="@Context.HeadingId"
       aria-description="@(AriaDescription ?? Localizer["Calendar_GridInstructions"])"
       data-summit-calendar-grid
       @ref="_elementRef"
       @attributes="AdditionalAttributes">
    @ChildContent
</table>
