@namespace SummitUI

@* The root component for the Calendar. Provides context and manages state. *@

<div data-summit-calendar-root
     data-disabled="@(Disabled ? "true" : null)"
     data-readonly="@(ReadOnly ? "true" : null)"
     @attributes="AdditionalAttributes">

    <CascadingValue Value="this" IsFixed="true">
        <CascadingValue Value="_context" IsFixed="false">
            @if (ChildContent is not null)
            {
                @ChildContent(_context.GetChildContext())
            }
        </CascadingValue>
    </CascadingValue>
</div>
