@namespace SummitUI

@if (AsChild)
{
    @ChildContent?.Invoke(_context)
}
else
{
    <button type="button"
            data-summit-dialog-close="true"
            @onclick="HandleClickAsync"
            @attributes="AdditionalAttributes">
        @ChildContent?.Invoke(_context)
    </button>
}
