@namespace SummitUI

<CascadingValue Value="_radioContext" IsFixed="false">
    <div role="group"
         aria-label="@AriaLabel"
         data-summit-dropdown-menu-radio-group=""
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
