@namespace SummitUI

@if (ShouldDisplay)
{
    <span data-summit-radio-group-indicator=""
          data-state="@DataState"
          @attributes="AdditionalAttributes">
        @ChildContent
    </span>
}
